function VicsekFractal.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 16
pop this 1
push constant 3
push this 1
call Math.multiply 2
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
return
function VicsekFractal.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function VicsekFractal.draw 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 255
push this 0
sub
lt
not
if-goto WHILE_END0
push local 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 0
push this 0
call VicsekFractal.drawLine 3
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
push local 0
push constant 0
call VicsekFractal.drawLine 3
pop temp 0
label IF_END0
push local 0
push this 0
add
pop local 0
push local 1
not
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function VicsekFractal.drawLine 1
push argument 0
pop pointer 0
push argument 2
pop local 0
label WHILE_EXP0
push local 0
push constant 512
push this 0
sub
lt
not
if-goto WHILE_END0
push pointer 0
push local 0
push argument 1
push constant 16
call VicsekFractal.drawOneSegment 4
pop temp 0
push local 0
push constant 2
push constant 3
push constant 16
call Math.multiply 2
call Math.multiply 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function VicsekFractal.drawOneSegment 5
push argument 0
pop pointer 0
push argument 1
pop local 0
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 0
push argument 3
add
pop local 1
push local 1
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
pop local 1
label IF_FALSE1
push argument 2
pop local 2
push local 2
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 2
label IF_FALSE2
push local 2
push argument 3
add
pop local 3
push local 3
push constant 255
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 255
pop local 3
label IF_FALSE3
push local 0
push local 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
push local 2
push local 3
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
push pointer 0
push local 0
push local 2
push argument 3
call VicsekFractal.drawOne 4
pop temp 0
push pointer 0
push local 0
push constant 2
push argument 3
call Math.multiply 2
add
push local 2
push argument 3
call VicsekFractal.drawOne 4
pop temp 0
push pointer 0
push local 0
push argument 3
add
push local 2
push argument 3
add
push argument 3
call VicsekFractal.drawOne 4
pop temp 0
push pointer 0
push local 0
push local 2
push constant 2
push argument 3
call Math.multiply 2
add
push argument 3
call VicsekFractal.drawOne 4
pop temp 0
push pointer 0
push local 0
push constant 2
push argument 3
call Math.multiply 2
add
push local 2
push constant 2
push argument 3
call Math.multiply 2
add
push argument 3
call VicsekFractal.drawOne 4
pop temp 0
push constant 0
return
function VicsekFractal.drawOne 4
push argument 0
pop pointer 0
push argument 1
pop local 0
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 0
push argument 3
add
pop local 1
push local 1
push constant 511
push argument 3
sub
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
push argument 3
sub
pop local 1
label IF_FALSE1
push argument 2
pop local 2
push local 2
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 2
label IF_FALSE2
push local 2
push argument 3
add
pop local 3
push local 3
push constant 255
push argument 3
sub
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 255
push argument 3
sub
pop local 3
label IF_FALSE3
push local 0
push local 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
push local 2
push local 3
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
push local 0
push local 2
push local 1
push local 2
call Screen.drawLine 4
pop temp 0
push local 1
push local 2
push local 1
push local 3
call Screen.drawLine 4
pop temp 0
push local 1
push local 3
push local 0
push local 3
call Screen.drawLine 4
pop temp 0
push local 0
push local 3
push local 0
push local 2
call Screen.drawLine 4
pop temp 0
push constant 0
return
